# do not ignore .gitignore
!.gitignore

# folders
/__pycache__/
/data/
/out/
/build/
/dist/
/cesiumpy/

# files
**.pyc
~$*.xslx
grdviewer.spec
grdviewer.log
convert.py
latamfmstest.py
latamfmstest.py
plot.PNG
SES14_GB_Steering_model_301_combined.pat
SES14_shaped_brazil.ini
test.cnf
test.ini
conf/FMS_LATAM_replacement_station.ini
convert.py
